<div class="box">
    <div class="form-group">
        <%= form_with(model: [@label, @target], local: true) do |f| %>
        <% if @target.errors.any? %>
        <div id="error_explanation">
            <h2><%= @target.errors.count %>件のエラーがあります。</h2>
            <ul>
                <% @target.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <div class="target_label">
          <%= f.label :Label %>
          <%= f.text_field :name, placeholder: "Let's label your Target!(split by space)", class: "form-control" %>
        </div>
        <div class="target_title">
            <%= f.label :Title %>
            <%= f.text_field :title, placeholder: "What is your Target?", class: "form-control" %>
        </div>
        <div class="target_detail">
            <%= f.label :Detail %>
            <%= f.text_area :detail, placeholder: "Detail of your target", class: "form-control" %>
        </div>
        <div class="target_deadline">
            <%= f.label :Deadline %>
            <%= f.datetime_field :deadline, class: "form-control" %>
        </div>
        <% if current_page?(edit_target_path(f)) %>
        <%= f.submit "Update", class: "btn  btn-default" %>
        <% else %>
        <%= f.submit "Create", class: "btn  btn-default" %>
        <% end %>
        <% end %>
        <%= link_to "HOME", targets_path %>
    </div>
</div>
