<h2>Targets List</h2>
<%= link_to "Create new Target", new_target_path %>

<%= search_form_for @q do |f| %>
  <%= f.label :title, :detail, "Keyword" %>
  <%= f.search_field :title_cont, :detail_count %>

  <%= f.label :status %>
　<%= f.radio_button :status_eq, '', {:checked => true} %>指定なし
  <%= f.radio_button :status_eq, 0 %>未達成
  <%= f.radio_button :status_eq, 1 %>完了

  <%= f.submit "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <%= sort_link(@q, :deadline, "Sort Deadline") %>
    </tr>
  </thead>
  <% @targets.each do |t| %>
  <tbody>
    <!-- <tr>
      <td>label?</td>
    </tr> -->
    <tr>
      <td><strong><%= t.title %></strong></td>
    </tr>
    <tr>
      <td><%= t.deadline %></td>
    </tr>
    <tr>
      <!-- <td>finished!! button</td> -->
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <%= link_to 'Show', target_path(t) %>
          <%= link_to 'Edit', edit_target_path(t) %>
          <%= link_to 'Destroy', target_path(t), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  </tfoot>
  <% end %>
</table>
