<h2 class="head_title">Deatil of Target</h2>
<div class="box">
    <div class="box-show">
        <p class="target_title">
            <strong>Title:</strong>
            <%= @target.title %>
        </p>
        <p class="target_detail">
            <strong>Detail:</strong>
            <%= @target.detail %>
        </p>
        <p class="target_deadline">
            <strong>Deadline:</strong>
            <%= @target.deadline %>
        </p>
        <div class="achieve">
            <p>
                <strong>Status:</strong>
                <% if @target.status == true %>
                達成してるよ!
                <% else %>
                <%= button_to "達成！", achieve_target_path(@target), method: :POST, data: { confirm: "達成済みにしますか？一度押すと戻せないよ！" }, class: "btn btn-danger"%>
                <% end %>
            </p>
        </div>
        <br>
        <% if @target.status == false %>
          <%= link_to 'Edit', edit_target_path(@target) %>
        <% end %>
        <br>
        <%= link_to 'HOME', targets_path %>
    </div>
</div>