<div class="box3">
  <div class="box-inner">
    <h2><%= t('.title', :resource => resource_class.model_name.human , :default => "Edit #{resource_name.to_s.humanize}") %></h2>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
        <div class="box-name">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "your user name" %>
        </div>
        <div class="box-avatar">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, id: :user_avatar %>
          <%= f.hidden_field :avatar_cache %>
        </div>
        <div class="box-email">
          <%= f.label :email %>
          <%= f.email_field :email, placeholder: "your email" %>
        </div>
        <div class="box-password">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: "password" %>
        </div>
        <div class="box-password">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, placeholder: "type same password" %>
        </div>
      <div><%= f.label :current_password %> <br />
      <%= f.password_field :current_password %></div>
      <div><%= f.submit t('.update', :default => "Update"), class: "btn btn-default" %></div>
    <% end %>
    <%= link_to t('devise.shared.links.back', :default => "Back"), :back %>
    <hr style="border:1px dashed #000000;">
    <h3><%= t('.cancel_my_account', :default => 'Cancel my account') %></h3>
    <p><%= t('.unhappy', :default => 'Unhappy') %>? <%= link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete %>.</p>
  </div>
</div>
