<div class="box1">
  <div class="box-inner">
    <h2><%= t('.sign_up', :default => "Sign up") %></h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
      <div class="box-name">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>

      <div class="box-email">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="box-password">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>

      <div class="box-password">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="box-login">
        <%= f.submit t('.sign_up', :default => "Sign up") %>
      </div>
    <% end %>

    <div class="text_link">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
