<h2 class="head_title">My Page</h2>
<div class="profile_content">
  <div class="profile_avatar">
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url %>
    <% end %>
  </div>
  <div class="profile_name">
    <%= @user.name %>
  </div>
  <br>
  <div class="profile_info">
    <%= @user.email %>
  </div>
  <br>
  <%= link_to 'ユーザー情報の編集', edit_user_path(@user.id)%>
</div>
<br>
<h4 class="subtitle">一週間以内に達成しなきゃいけないターゲット</h4>
<div class="targets_content">
  <% @targets.each do |t| %>
    <div class="target_block">
      <p id="target_title"><strong><%= t.title %></strong></p>
      <p>
        <% if t.status == true %>
          達成してるよ!
        <% else %>
          <%= button_to "達成！", achieve_target_path(t.id), method: :POST, data: { confirm: "達成済みにしますか？一度押すと戻せないよ！" }, class: "btn btn-danger" %>
        <% end %>
      </p>
      <p><strong><%= t.deadline.strftime("%Y %m/%d") %></strong></p>
      <p>
        <%= link_to 'Show', target_path(t) %>
        <%= link_to 'Edit', edit_target_path(t) %>
        <%= link_to 'Destroy', target_path(t), method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>
</div>
