<div class="box2">
  <div class="box-inner">
    <h2><%= t('.sign_in', :default => "Sign in") %></h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="box-email">
        <%= f.label :login %><br />
        <%= f.text_field :login %>
      </div>

      <div class="box-password">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="box-login">
        <%= f.submit t('.sign_in', :default => "Sign in") %>
      </div>
    <% end %>
    <div class="text_link">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
