<!DOCTYPE html>
<html>
  <head>
    <title>ShooTargets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <img src="/assets/shootargets.png" alt="ShooTargets logo">
      <br>
      <% if user_signed_in? %>
        <%= link_to "MY PAGE", user_path(current_user.id) %>
        <%= link_to "HOME", targets_path %>
        <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
        <p>NAME: <%= current_user.name %></p>
      <% else %>
        <%= link_to "SIGN UP", new_user_registration_path %>
        <%= link_to "LOGIN", new_user_session_path %>
      <% end %>
    </header>

    <div class="content_area">
      <div class="notification">
        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
      </div>
      <%= yield %>
    </div>

    <footer class="footer">
      <p>Copyright © 2020 faye0210 ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
